<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>RSI GARAM KALIANGET</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../stylesheets/artikel.css" />


</head>

<body>
    <div class="wrapper sticky-top">
        <div class="navbar-top ">
            <span>Contact us: 082332632929 - rsi_garam@yahoo.co.id</span>
        </div>

        <nav class="navbar navbar-expand-lg bg-white">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../images/logo-rsi.png" alt="Logo" class="d-inline-block align-text-top"
                        style="height: 50px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/">BERANDA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="../../dokter/users">DOKTER</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="../../layanan/users">LAYANAN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../../artikel/users">ARTIKEL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="#">TENTANG KAMI</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <a class="btn btn-daftar" href="../../pendaftaran/users" role="button">Daftar</a>
                    </form>
                </div>
            </div>
        </nav>

    </div>

    <main>

        <div class="awalan">
            <div class="card-dokter mb-3 ">
                <div class="card text-bg-dark mb-3">
                    <img src="../../images/home.png" class="card-img" alt="...">
                    <div class="card-img-overlay text-center">
                        <h3 class="card-title text-white mb-5">Selamat Datang di RSI Garam Kalianget</h3>
                        <p class="card-text-desc">Kami dengan hangat menyambut Anda di RSI Garam Kalianget, tempat di
                            mana kesehatan dan
                            kesejahteraan Anda menjadi prioritas utama kami. Di sini, kami berkomitmen untuk memberikan
                            pelayanan
                            medis terbaik dengan standar profesionalisme yang tinggi.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container shadow-lg rounded-4">
            <div class="row">
                <div class="col-md-3 library-container ">
                    <div class="library rounded-left">
                        <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24">
                            <path fill="#ffff"
                                d="M14 9.9V8.2q.825-.35 1.688-.525T17.5 7.5q.65 0 1.275.1T20 7.85v1.6q-.6-.225-1.213-.337T17.5 9q-.95 0-1.825.238T14 9.9m0 5.5v-1.7q.825-.35 1.688-.525T17.5 13q.65 0 1.275.1t1.225.25v1.6q-.6-.225-1.213-.338T17.5 14.5q-.95 0-1.825.225T14 15.4m0-2.75v-1.7q.825-.35 1.688-.525t1.812-.175q.65 0 1.275.1T20 10.6v1.6q-.6-.225-1.213-.338T17.5 11.75q-.95 0-1.825.238T14 12.65m-1 4.4q1.1-.525 2.213-.788T17.5 16q.9 0 1.763.15T21 16.6V6.7q-.825-.35-1.713-.525T17.5 6q-1.175 0-2.325.3T13 7.2zM12 20q-1.2-.95-2.6-1.475T6.5 18q-1.05 0-2.062.275T2.5 19.05q-.525.275-1.012-.025T1 18.15V6.1q0-.275.138-.525T1.55 5.2q1.175-.575 2.413-.888T6.5 4q1.45 0 2.838.375T12 5.5q1.275-.75 2.663-1.125T17.5 4q1.3 0 2.538.313t2.412.887q.275.125.413.375T23 6.1v12.05q0 .575-.487.875t-1.013.025q-.925-.5-1.937-.775T17.5 18q-1.5 0-2.9.525T12 20" />
                        </svg>
                        <h3>Perpustakaan Digital</h3>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="swiper-container p-2">
                        <div class="swiper-wrapper ">
                            <div class="swiper-slide">
                                <div class="card" style="width: 18rem;">
                                    <div class="garis-vertical"><h5 class="card-title">PENELITIAN GIZI</h5>
                                    </div>
                                    
                                    <img src="../../images/gizi.jpeg" class="card-img-library" alt="...">
                                    <div class="card-body">
                                        <p class="card-text">Ini adalah buku tentang cara menentukan Gizi yang baik</p>
                                        <div class="d-grid  d-md-flex justify-content-md-end">
                                            <button class="btn btn-primary " type="button">Read More</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <div class="garis-vertical"><h5 class="card-title">PENELITIAN GIZI</h5>
                                    </div>
                                    <img src="../../images/gizi.jpeg" class="card-img-library" alt="...">
                                    <div class="card-body">
                                        <p class="card-text">Ini adalah buku tentang cara menentukan Gizi yang baik</p>
                                        <div class="d-grid  d-md-flex justify-content-md-end">
                                            <button class="btn btn-primary " type="button">Read More</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <div class="garis-vertical"><h5 class="card-title">PENELITIAN GIZI</h5>
                                    </div>
                                    <img src="../../images/gizi.jpeg" class="card-img-library" alt="...">
                                    <div class="card-body">
                                        <p class="card-text">Ini adalah buku tentang cara menentukan Gizi yang baik</p>
                                        <div class="d-grid  d-md-flex justify-content-md-end">
                                            <button class="btn btn-primary " type="button">Read More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card" style="width: 18rem;">
                                    <div class="garis-vertical"><h5 class="card-title">PENELITIAN GIZI</h5>
                                    </div>
                                    <img src="../../images/gizi.jpeg" class="card-img-library" alt="...">
                                    <div class="card-body">
                                        <p class="card-text">Ini adalah buku tentang cara menentukan Gizi yang baik</p>
                                        <div class="d-grid  d-md-flex justify-content-md-end">
                                            <button class="btn btn-primary " type="button">Read More</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <div class="garis-vertical"><h5 class="card-title">PENELITIAN GIZI</h5>
                                    </div>
                                    <img src="../../images/gizi.jpeg" class="card-img-library" alt="...">
                                    <div class="card-body">
                                        <p class="card-text">Ini adalah buku tentang cara menentukan Gizi yang baik</p>
                                        <div class="d-grid  d-md-flex justify-content-md-end">
                                            <button class="btn btn-primary " type="button">Read More</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <div class="garis-vertical"><h5 class="card-title">PENELITIAN GIZI</h5>
                                    </div>
                                    <img src="../../images/gizi.jpeg" class="card-img-library" alt="...">
                                    <div class="card-body">
                                        <p class="card-text">Ini adalah buku tentang cara menentukan Gizi yang baik</p>
                                        <div class="d-grid  d-md-flex justify-content-md-end">
                                            <button class="btn btn-primary " type="button">Read More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Tambahkan slide lainnya sesuai kebutuhan -->
                        </div>
                        <!-- Add Pagination -->
                    </div>
                </div>
            </div>
        </div>


        
    </main>

    <footer>
        <div class="row align-items-center justify-content-between">
            <div class="col-md-4 logo">
                <img src="../../images/logo-rsi.png" alt="Logo">
            </div>
            <div class="col-md-6 copyright">
                <p>Copyright 2023 - PT.Garam Kalianget</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz4fnFO9gybBogGzOgQW4Dp2FmProfiljBbNBY9lbFlnK4yfRvH+8abtTEKSk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cu4lX3SEd5GfqQb4rbl3k4ymoqVRLA2XKSyyvTtvhS4QKxT0Ok3Ebc1uwWjJJ7Sk"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script>
        const swiper = new Swiper('.swiper-container', {
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

    </script>
</body>

</html>