<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="./stylesheets/homepage.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="css/mdb.min.css" />

</head>

<body>


  <div class="wrapper sticky-top">
    <div class="navbar-top ">
      <span>Contact us: 082332632929 - rsi_garam@yahoo.co.id</span>
    </div>

    <nav class="navbar navbar-expand-lg bg-white">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../images/logo-rsi.png" alt="Logo" class="d-inline-block align-text-top" style="height: 50px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#beranda">BERANDA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#motto">MOTTO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#dokter">DOKTER</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#layanan">LAYANAN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">TENTANG KAMI</a>
            </li>
          </ul>
          <form class="d-flex">
            <a class="btn btn-login" href="#" role="button">Login</a>
          </form>
        </div>
      </div>
    </nav>


  </div>


  <main>
    <!-- <div id="beranda" class="beranda">
      <div class="container-fluid content">
        <img src="../images/awal.png" alt="Hospital Image">
        <div class="form-container ">
          <div class="text-center">
            <h3><b>Cari Jadwal Dokter</b></h3>
            <p class="text-success">Temukan jadwal dokter, booking atau buat janji dengan dokter ahli, spesialis atau
              umum
              yang berpengalaman</p>
          </div>
          <form>
            <div class="cari-dokter">
              <div class="mb-3">
                <label for="hari" class="form-label">Pilih Hari</label>
                <input type="text" class="form-control" id="hari" required>
              </div>
              <div class="mb-3">
                <label for="service" class="form-label">Pilih Layanan</label>
                <input type="text" class="form-control" id="service" required>
              </div>
              <div class="mb-3">
                <label for="doctor" class="form-label">Pilih Dokter</label>
                <input type="text" class="form-control" id="doctor" required>
              </div>
              <button type="submit" class="btn btn-primary">Cari</button>
            </div>
          </form>
        </div>
      </div>
    </div> -->

    <div id="beranda" class="beranda">
      <div class="container-fluid-beranda">
        <div class="card-beranda mb-3 mx-auto">
          <div class="row g-0">
            <div class="col-md-7">
              <div class="card text-bg-dark">
                <img src="../images/awal.png" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small>Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-container ">
                <div class="text-center">
                  <h3><b>Cari Jadwal Dokter</b></h3>
                  <p class="text-success">Temukan jadwal dokter atau buat janji dengan dokter ahli, spesialis atau
                    umum
                    </p>
                </div>
                <form>
                  <div class="cari-dokter">
                    <div class="mb-3">
                      <label for="hari" class="form-label">Pilih Hari</label>
                      <input type="text" class="form-control" id="hari" required>
                    </div>
                    <div class="mb-3">
                      <label for="service" class="form-label">Pilih Layanan</label>
                      <input type="text" class="form-control" id="service" required>
                    </div>
                    <div class="mb-3">
                      <label for="doctor" class="form-label">Pilih Dokter</label>
                      <input type="text" class="form-control" id="doctor" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Cari</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="motto" class="motto">
      <div class="container-fluid-serve">
        <div class="card-serve mb-3 mx-auto">
          <div class="row g-0">
            <div class="col-md-6">
              <img src="../images/serve.jpg" class="img-fluid " alt="Placeholder image">
            </div>
            <div class="col-md-6">
              <div class="card-body text-center">
                <h3 class="card-title"><b>Serve With Smile</b></h3>
                <br>
                <p class="card-text">Menyandang status sebagai satu-satunya RS BUMN di Kota Surabaya, kami memiliki
                  komitmen memberikan pelayanan dengan motto F.A.C.E with Smile (Fast-Accurate-Convenient-Effective &
                  Efficient). Saat ini kami memiliki >115 Dokter Umum, Spesialis dan Subspesialis, 320 Perawat dan Bidan
                  serta telah melayani 1,5 juta pasien setiap tahunnya.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="dokter" class="dokter">
      <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 mb-5 px-5">
        <div class="col">
          <div class="card-dokter">
            <h5 class="card-title">Dokter Spesialis</h5>
            <img src="../images/doctor.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Mohammad Shobri</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-dokter">
            <h5 class="card-title">Dokter Spesialis</h5>
            <img src="../images/doctor.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Mohammad Shobri</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-dokter">
            <h5 class="card-title">Dokter Spesialis</h5>
            <img src="../images/doctor.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Mohammad Shobri</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-dokter">
            <h5 class="card-title">Dokter Spesialis</h5>
            <img src="../images/doctor.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Mohammad Shobri</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="layanan" class="layanan px-5 py-5">
      <div class="row g-5">
          <div class="col-md-6">
              <div class="card layanan" style=" border: none;">
                  <img src="../images/layanan.jpg" class="card-layanan" alt="...">
                  <div class="card-body">
                      <h5 class="card-text">Rumah Sakit Islam selalu berkomitmen menghadirkan inovasi layanan untuk pasien. Didukung oleh Dokter, Perawat, Paramedis dan Staf yang profesional dan ramah melayani pasien. Serta didukung dengan peralatan medis modern dan terbaru, kami yakin Rumah Sakit JIH akan selalu menjadi pilihan Anda dan Keluarga</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
            <p>TEMUKAN LAYANAN YANG ANDA INGINKAN</p>
            <h3>Layanan Yang Tersedia</h3>
              <div class="list-layanan ml-4 mt-5">
                  <div class="grid-container">
                      <a class="btn btn-primary" href="#" role="button">Rawat Jalan</a>
                      <a class="btn btn-primary" href="#" role="button">Rawat Inap</a>
                      <a class="btn btn-primary" href="#" role="button">Laboratorium</a>
                      <a class="btn btn-primary" href="#" role="button">Radiologi</a>
                      <a class="btn btn-primary" href="#" role="button">IGD 24 Jam</a>
                      <a class="btn btn-primary" href="#" role="button">Instalasi Farmasi</a>
                      <a class="btn btn-primary" href="#" role="button">Kamar Operasi</a>
                      <a class="btn btn-primary" href="#" role="button">Kamar Bersalin</a>
                      <a class="btn btn-primary" href="#" role="button">NICU</a>
                      <a class="btn btn-primary" href="#" role="button">Ambulance</a>
                      <a class="btn btn-primary" href="#" role="button">Homecare</a>
                      <a class="btn btn-primary" href="#" role="button">Lainnya</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
<div id="mitra" class="mitra">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-5 px-5">
    <div class="col">
      <div class="card mitra">
        <img src="../images/mitra-ptgaram.png" class="mitra-img" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card mitra">
        <img src="../images/mitra-bpjs.png" class="mitra-img" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card mitra">
        <img src="../images/mitra-gardamedika.jpg" class="mitra-img" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card mitra">
        <img src="../images/mitra-imcare.jpg" class="mitra-img" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card mitra">
        <img src="../images/mitra-bumi.png" class="mitra-img" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card mitra">
        <img src="../images/mitra-adira.png" class="mitra-img" alt="...">
      </div>
    </div>
  </div>
</div>

<div class="penghargaan">
  <button class="item">
    <h3>69 Tahun</h3>
    <p>Melayani Anda</p>
  </button>
  <button class="item">
    <h3>30</h3>
    <p>Penghargaan</p>
  </button>
  <button class="item">
    <h3>130</h3>
    <p>Dokter</p>
  </button>
  <button class="item">
    <h3>1500</h3>
    <p>Kunjungan / hari</p>
  </button>
</div>

  <footer class="text-primary text-center text-lg-start  mt-5">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mb-5">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <img src="../images/logo-rsi.png" alt="Logo" class="logo logo-align" style="height: 100px;">


          <div class="mt-4">
            <!-- Facebook -->
            <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fab fa-facebook-f"></i></a>
            <!-- Dribbble -->
            <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fab fa-dribbble"></i></a>
            <!-- Twitter -->
            <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fab fa-twitter"></i></a>
            <!-- Google + -->
            <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fab fa-google-plus-g"></i></a>
            <!-- Linkedin -->
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          

          

          <ul class="fa-ul" style="margin-left: 1.65em;">
          <h5 class="text-uppercase mb-4">Hubungi Kami</h5>

            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">Pusat Panggilan (08233263292)</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-ambulance"></i></span><span class="ms-2">IGD/Ambulance (085334367221)</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-user-plus"></i></span><span class="ms-2">Pendaftaran (085257098307)</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-headphones"></i></span><span class="ms-2">Humas/Customer Service (082332632929)</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">contact@example.com</span>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Jam Kunjung</h5>
          <p>SIANG : JAM 10.00 WIB s/d 12.00 WIB</p>
          <p>SORE  : JAM 14.00 WIB s/d 18.00 WIB</p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-primary" href="https://mdbootstrap.com/">RSI GARAM KALIANGET</a>
    </div>
    <!-- Copyright -->
  </footer>



  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>

<script type="text/javascript" src="js/mdb.min.js"></script>
<!-- Custom scripts -->
<script type="text/javascript" src="js/script.js"></script>
</body>

</html>