<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>RSI GARAM KALIANGET</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- MDB -->
    <link rel="stylesheet" href="css/mdb.min.css" />
    <link rel="stylesheet" href="../../stylesheets/pendaftaran.css" />
</head>

<body>
    <div class="wrapper sticky-top">
        <div class="navbar-top">
            <a class="nav-link" aria-current="page" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-house-fill" viewBox="0 0 16 16">
                    <path
                        d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z" />
                    <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z" />
                </svg>
            </a>
            <a class="nav-link" href="" style="margin-left: auto;">Buat akun</a>
        </div>

        <nav class="navbar navbar-expand-lg bg-white">
            <div class="container-fluid d-flex flex-column flex-lg-row justify-content-between align-items-center">
                <a class="navbar-brand" href="#" style="margin-right: auto;">
                    <img src="../images/logo-rsi.png" alt="Logo" class="d-inline-block align-text-top logo-navbar">
                </a>
                <div class="navbar-collapse d-flex justify-content-center text-center">
                    <h4 class="title">Portal Pendaftaran Mandiri Online RSI Garam Kalianget</h4>
                </div>
            </div>
        </nav>
        




    </div>

    <main>

        <div class="container px-5 mt-5">
            <div class="card-pendaftaran text-center rounded-3 border">
                <div class="card-body-daftar rounded-top ">
                    <h4 class="card-title text-white py-4">Pilih Layanan Yang Ingin Anda Daftar</h4>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Pilih Layanan</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <p class="text-start text-white mt-2 mb-5">*Perhatian, Mohon baca syarat & Ketentuan Sebelum
                        Mendaftar</p>
                </div>
                <div class="card-body py-0 d-grid gap-2 ">
                    <button class="btn btn-light" type="button"><b>Daftar Layanan</b></button>
                </div>
            </div>
        </div>

        <div class="container menu  mt-5">
            <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-4">
                <a type="button" class="text-decoration-none text-dark"  data-bs-toggle="modal" data-bs-target="#syaratketentuan">
                    <div class="card mb-3 mx-2 shadow" >
                        <div class="row g-0">
                            <div class="col-md-4 mt-4 p-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 16 16">
                                    <path fill="#025589" fill-rule="evenodd"
                                        d="M3 2.5a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h5.25a.75.75 0 0 1 0 1.5H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v6.25a.75.75 0 0 1-1.5 0V3a.5.5 0 0 0-.5-.5zm12.28 8.72a.75.75 0 0 1 0 1.06l-2.5 2.5a.75.75 0 0 1-1.06 0l-1-1a.75.75 0 1 1 1.06-1.06l.47.47l1.97-1.97a.75.75 0 0 1 1.06 0M4.75 4a.75.75 0 0 0 0 1.5h6.5a.75.75 0 0 0 0-1.5zM4 8a.75.75 0 0 1 .75-.75h6.5a.75.75 0 0 1 0 1.5h-6.5A.75.75 0 0 1 4 8m.75 2.5a.75.75 0 0 0 0 1.5h3.5a.75.75 0 0 0 0-1.5z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title">Syarat & Ketentuan</h5>
                                    <p class="card-text">Informasi Syarat dan Ketentuan Pendaftaran Mandiri</p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a type="button" class="text-decoration-none text-dark"  data-bs-toggle="modal" data-bs-target="#cekstatus">
                    <div class="card mb-3 mx-2 shadow" >
                        <div class="row g-0">
                            <div class="col-md-4 mt-4 p-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24">
                                    <path fill="#025589" fill-rule="evenodd"
                                        d="M12 2C6.477 2 2 6.477 2 12a9.97 9.97 0 0 0 1.3 4.935l-1.249 3.749a1 1 0 0 0 1.265 1.265l3.749-1.25A9.96 9.96 0 0 0 12 22c5.523 0 10-4.477 10-10S17.523 2 12 2m0 6c-.902 0-1.731.297-2.4.8a1 1 0 1 1-1.2-1.6a6 6 0 0 1 8.4 8.4a1 1 0 0 1-1.598-1.2A4 4 0 0 0 12 8m-5 3a1 1 0 0 1 1 1a4 4 0 0 0 4 4a1 1 0 1 1 0 2a6 6 0 0 1-6-6a1 1 0 0 1 1-1m5-1a2 2 0 1 0 0 4a2 2 0 0 0 0-4"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title">Cek Status</h5>
                                    <p class="card-text">Cek Informasi Status Pendaftaran Pasien dan Proses Batal Bayar
                                    </p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="../../dokter/users" class="text-decoration-none text-dark">
                    <div class="card mb-3 mx-2 shadow" >
                        <div class="row g-0">
                            <div class="col-md-4 mt-4 p-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="84" height="96" viewBox="0 0 21 24">
                                    <path fill="#025589"
                                        d="m6.53 8.098l.14-.012a.305.305 0 0 0 .141-.053l-.001.001c.134.462.298.948.503 1.457c.263.666.522 1.213.812 1.741l-.04-.08c-.024.364-.053.738-.091 1.1a2.565 2.565 0 0 1-.129.627l.005-.018c-.012.005-.029 2.08-.029 2.08a2.868 2.868 0 0 0 2.198 2.787l.02.004a.384.384 0 0 1 .357-.246h.574a.39.39 0 0 1 .356.243l.001.003a2.877 2.877 0 0 0 2.229-2.789v-.001s-.035-2.066-.053-2.08a3.152 3.152 0 0 1-.122-.593l-.001-.015c-.035-.364-.058-.729-.091-1.1c.247-.446.506-.992.734-1.555l.038-.106c.205-.509.364-.994.503-1.457a.297.297 0 0 0 .139.053h.001l.141.012c.17.018.32-.122.334-.339l.152-1.931v-.002a.32.32 0 0 0-.279-.317h-.019a7.143 7.143 0 0 0-.242-2.999l.013.051A4.27 4.27 0 0 0 11.725.122l-.026-.004a5.847 5.847 0 0 0-.993-.112h-.021a5.49 5.49 0 0 0-1.038.118l.036-.006a4.295 4.295 0 0 0-3.114 2.419l-.011.027a7.047 7.047 0 0 0-.225 2.985l-.004-.037a.316.316 0 0 0-.282.313v.007l.152 1.931c.014.222.166.356.33.338z" />
                                    <path fill="#025589"
                                        d="M21.416 20.878c-.07-3.04-.374-3.728-.538-4.194c-.065-.187-.118-1.451-2.206-2.271c-1.28-.504-2.932-.514-4.33-1.105v1.644a3.632 3.632 0 0 1-2.944 3.56l-.023.004a.384.384 0 0 1-.374.32h-.018v1.24a2.194 2.194 0 1 0 4.388 0v-.866a1.248 1.248 0 1 1 .588-.055l-.009.003v.965a2.774 2.774 0 0 1-5.548 0v-.05v.002v-1.251a.381.381 0 0 1-.35-.318v-.002a3.635 3.635 0 0 1-2.954-3.556v-1.657c-1.404.603-3.066.615-4.353 1.12c-2.094.819-2.142 2.08-2.206 2.27c-.16.468-.468 1.153-.538 4.195c-.012.4 0 1.013 1.206 1.549c2.626 1.03 6.009 1.35 9.344 1.58h.32c3.342-.228 6.72-.547 9.344-1.58c1.201-.533 1.212-1.142 1.201-1.546zm-14.681-1.24H5.489v1.251h-.89v-1.247H3.353v-.89h1.246v-1.246h.89v1.246h1.246z" />
                                    <path fill="#025589" d="M16.225 17.965v-.001a.673.673 0 1 0 0 .001" />
                                </svg>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title">Login Dokter</h5>
                                    <p class="card-text">Informasi Kunjungan Pasien Rawat Jalan dan Rawat Inap RSI Garam
                                        Kalianget</p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="../../dokter/users" class="text-decoration-none text-dark">
                    <div class="card mb-3 mx-2 shadow" >
                        <div class="row g-0">
                            <div class="col-md-4 mt-4 p-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 26 26">
                                    <path fill="#025589"
                                        d="M13 0C5.925 0 0 5.08 0 11.5c0 3.03 1.359 5.748 3.5 7.781a6.733 6.733 0 0 1-1.094 1.875A16.48 16.48 0 0 1 .375 23.22A1 1 0 0 0 1 25c2.215 0 3.808-.025 5.25-.406c1.29-.342 2.399-1.058 3.531-2.063c1.03.247 2.093.469 3.219.469c7.075 0 13-5.08 13-11.5S20.075 0 13 0m0 2c6.125 0 11 4.32 11 9.5S19.125 21 13 21c-1.089 0-2.22-.188-3.25-.469a1 1 0 0 0-.938.25c-1.125 1.079-1.954 1.582-3.062 1.875c-.51.135-1.494.103-2.188.157c.14-.158.271-.242.407-.407c.786-.96 1.503-1.975 1.719-3.125a1 1 0 0 0-.344-.937C3.249 16.614 2 14.189 2 11.5C2 6.32 6.875 2 13 2m-1.906 3.906a1 1 0 0 0-.469.25l-1.5 1.407l1.344 1.468l1.187-1.125h2.406L15 8.97v1.469l-2.563 1.718A1 1 0 0 0 12 13v2h2v-1.438l2.563-1.718A1 1 0 0 0 17 11V8.594a1 1 0 0 0-.25-.656l-1.5-1.688a1 1 0 0 0-.75-.344h-3.188a1 1 0 0 0-.218 0M12 16v2h2v-2z" />
                                </svg>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title">FAQ & Q&A</h5>
                                    <p class="card-text">Frequently Asked Questions (FAQ) or Questions and Answers (Q&A)
                                    </p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="../../dokter/users" class="text-decoration-none text-dark">
                    <div class="card mb-3 mx-2 shadow" >
                        <div class="row g-0">
                            <div class="col-md-4 mt-4 p-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24">
                                    <path fill="#025589"
                                        d="M15 14c-2.67 0-8 1.33-8 4v2h16v-2c0-2.67-5.33-4-8-4m-9-4V7H4v3H1v2h3v3h2v-3h3v-2m6 2a4 4 0 0 0 4-4a4 4 0 0 0-4-4a4 4 0 0 0-4 4a4 4 0 0 0 4 4" />
                                </svg>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title">Kuota Pendaftaran</h5>
                                    <p class="card-text">Informasi Kuota Pendaftaran Mandiri Online</p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="../../dokter/users" class="text-decoration-none text-dark">
                    <div class="card mb-3 mx-2 shadow" >
                        <div class="row g-0">
                            <div class="col-md-4 mt-4 p-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24">
                                    <path fill="#025589"
                                        d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4zm16-4H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2m-1 9h-4v4h-2v-4H9V9h4V5h2v4h4z" />
                                </svg>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title">Nomor Antrian</h5>
                                    <p class="card-text">Informasi Nomor Antrian Farmasi dan Fisioterapi</p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

<!-- modal -->
<div class="modal fade modal-lg" id="syaratketentuan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Syarat & Ketentuan</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body px-4">
            <div class="section">
                <h3>General</h3>
                <ul>
                    <li>Pendaftaran Online hanya bisa dilakukan oleh pasien yang telah memiliki nomor rekam medis di Rumah Sakit Islam Garam Kalianget.</li>
                    <li>Pendaftaran Online dibuka mulai pukul 07:30 sampai dengan pukul 13:00 WIB.</li>
                    <li>Pendaftaran Online dilakukan H-1.</li>
                    <li>Pendaftaran Online hari minggu / hari libur nasional TUTUP</li>
                    <li>Untuk pendaftaran setelah hari minggu / hari libur nasional maka pendaftaran dapat dilakukan H-1 atau sebelum hari minggu / hari libur.</li>
                    <li>Cek status untuk mendapatkan kwitansi dan nomor antrian poli (antrian dokter)</li>
                    <li>Nomor antrian ke dokter dapat dilihat di menu status mulai pukul 16:00 WIB</li>
                    <li>Untuk Poli Spesialis Kandungan, jadwal dokter harus membuat Appoinment/janji terlebih dahulu dengan dokter.</li>
                </ul>
            </div>
            <div class="section">
                <h3>Pasien Umum</h3>
                <ul>
                    <li>Setelah mendaftar, harap melakukan pembayaran ke Mandiri syariah 7093 717 338 an. RSI Garam Kalianget sampai dengan pukul 12:00 WIB dan mengirimkan bukti transfer ke nomor 0852-5709-8307</li>
                    <li>Pasien yang tidak melakukan pembayaran sampai batas waktu yang telah ditentukan dianggap batal.</li>
                    <li>Jika sudah melakukan pembayaran, kunjungan tidak bisa dibatalkan atau ganti penjamin/debitur.</li>
                    <li>Pasien diharuskan datang 10 menit sebelum jam praktek dokter dimulai.</li>
                    <li>Jika pasien datang terlambat dan pelayanan sudah selesai, pasien dianggap tidak datang dan tidak ada pengembalian.</li>
                </ul>
            </div>
            <div class="section">
                <h3>Pasien BPJS Kesehatan</h3>
                <ul>
                    <li>Pasien diharap melakukan check in dan cetak tracer 1 jam sebelum jadwal dokter praktek.</li>
                    <li>Pasien wajib menyerahkan berkas kelengkapan ke loket pendaftaran untuk verifikasi.</li>
                </ul>
            </div>
            <div class="section">
                <h3>Pasien Asuransi/Instansi</h3>
                <ul>
                    <li>Saat hari H, sebelum ke dokter pasien diharap melakukan verifikasi ke loket.</li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade modal-lg" id="cekstatus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Syarat & Ketentuan</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body px-4">
            <div class="section">
                <h3>General</h3>
                <ul>
                    <li>Pendaftaran Online hanya bisa dilakukan oleh pasien yang telah memiliki nomor rekam medis di Rumah Sakit Islam Garam Kalianget.</li>
                    <li>Pendaftaran Online dibuka mulai pukul 07:30 sampai dengan pukul 13:00 WIB.</li>
                    <li>Pendaftaran Online dilakukan H-1.</li>
                    <li>Pendaftaran Online hari minggu / hari libur nasional TUTUP</li>
                    <li>Untuk pendaftaran setelah hari minggu / hari libur nasional maka pendaftaran dapat dilakukan H-1 atau sebelum hari minggu / hari libur.</li>
                    <li>Cek status untuk mendapatkan kwitansi dan nomor antrian poli (antrian dokter)</li>
                    <li>Nomor antrian ke dokter dapat dilihat di menu status mulai pukul 16:00 WIB</li>
                    <li>Untuk Poli Spesialis Kandungan, jadwal dokter harus membuat Appoinment/janji terlebih dahulu dengan dokter.</li>
                </ul>
            </div>
            <div class="section">
                <h3>Pasien Umum</h3>
                <ul>
                    <li>Setelah mendaftar, harap melakukan pembayaran ke Mandiri syariah 7093 717 338 an. RSI Garam Kalianget sampai dengan pukul 12:00 WIB dan mengirimkan bukti transfer ke nomor 0852-5709-8307</li>
                    <li>Pasien yang tidak melakukan pembayaran sampai batas waktu yang telah ditentukan dianggap batal.</li>
                    <li>Jika sudah melakukan pembayaran, kunjungan tidak bisa dibatalkan atau ganti penjamin/debitur.</li>
                    <li>Pasien diharuskan datang 10 menit sebelum jam praktek dokter dimulai.</li>
                    <li>Jika pasien datang terlambat dan pelayanan sudah selesai, pasien dianggap tidak datang dan tidak ada pengembalian.</li>
                </ul>
            </div>
            <div class="section">
                <h3>Pasien BPJS Kesehatan</h3>
                <ul>
                    <li>Pasien diharap melakukan check in dan cetak tracer 1 jam sebelum jadwal dokter praktek.</li>
                    <li>Pasien wajib menyerahkan berkas kelengkapan ke loket pendaftaran untuk verifikasi.</li>
                </ul>
            </div>
            <div class="section">
                <h3>Pasien Asuransi/Instansi</h3>
                <ul>
                    <li>Saat hari H, sebelum ke dokter pasien diharap melakukan verifikasi ke loket.</li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Setuju</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak Setuju</button>
        </div>
      </div>
    </div>
  </div>



  <div class="container-fluid custom-container mt-5">
    <div class="d-flex-align-center">
      <div>
        <h2><b>Mau Konsultasi?</b></h2>
        <p>Tanyakan Apa Saja Kepada Ahli Kami dan Dapatkan Solusi Terbaik untuk Masalah Anda!</p>
      </div>
      <a class="btn btn-success"><b>Hubungi Kami</b></a>
    </div>
  </div>



        <footer class="text-primary text-center text-lg-start  mt-5">
            <!-- Grid container -->
            <div class="container p-4">
                <!--Grid row-->
                <div class="row mb-5">
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                        <img src="../images/logo-rsi.png" alt="Logo" class="logo logo-align" style="height: 100px;">


                        <div class="mt-4">
                            <!-- Facebook -->
                            <a type="button" class="btn btn-floating btn-primary btn-lg"><i
                                    class="fab fa-facebook-f"></i></a>
                            <!-- Dribbble -->
                            <a type="button" class="btn btn-floating btn-primary btn-lg"><i
                                    class="fab fa-dribbble"></i></a>
                            <!-- Twitter -->
                            <a type="button" class="btn btn-floating btn-primary btn-lg"><i
                                    class="fab fa-twitter"></i></a>
                            <!-- Google + -->
                            <a type="button" class="btn btn-floating btn-primary btn-lg"><i
                                    class="fab fa-google-plus-g"></i></a>
                            <!-- Linkedin -->
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4 mb-md-0">




                        <ul class="fa-ul" style="margin-left: 1.65em;">
                            <h5 class="text-uppercase mb-4">Hubungi Kami</h5>

                            <li class="mb-3">
                                <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">Pusat
                                    Panggilan (08233263292)</span>
                            </li>
                            <li class="mb-3">
                                <span class="fa-li"><i class="fas fa-ambulance"></i></span><span
                                    class="ms-2">IGD/Ambulance (085334367221)</span>
                            </li>
                            <li class="mb-3">
                                <span class="fa-li"><i class="fas fa-user-plus"></i></span><span
                                    class="ms-2">Pendaftaran (085257098307)</span>
                            </li>
                            <li class="mb-3">
                                <span class="fa-li"><i class="fas fa-headphones"></i></span><span
                                    class="ms-2">Humas/Customer Service (082332632929)</span>
                            </li>
                            <li class="mb-3">
                                <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2"
                                    href="rsi_garam@yahoo.co.id">rsi_garam@yahoo.co.id</span>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-4">Jam Kunjung</h5>
                        <p>SIANG : JAM 10.00 WIB s/d 12.00 WIB</p>
                        <p>SORE  : JAM 14.00 WIB s/d 18.00 WIB</p>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2024 Copyright:
                <a class="text-primary" href="https://rsi_garam@yahoo.co.id/">RSI GARAM KALIANGET</a>
            </div>
            <!-- Copyright -->
        </footer>

    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
        </script>

    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>