h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn-primary {
    background-color: #025589;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-primary-disabled {
    background-color: #025589;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.text-primary {
    color: #025589 !important;
}

.bg-primary {
    background-color: #025589;
}

.text-success {
    color: #8AC441 !important;
}

.navbar-top {
    display: flex;
    justify-content: flex-end;
    background-color: #025589;
    /* Warna latar belakang navbar top */
    color: white;
    /* Warna teks navbar top */
    padding: 10px;
    /* Padding navbar top */
}

.navbar-top span {
    margin-left: auto;
    /* Menempatkan teks di paling kanan */
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
}

.nav-link.active {
    background-color: #025589;
    /* Primary color */
    color: white !important;
    border-radius: 1rem;
}

.navbar-nav .nav-item {
    margin: 0 15px;
    /* Memberikan jarak antar item navigasi */

}

.navbar-brand img {
    height: 40px;
    /* Atur tinggi logo sesuai kebutuhan */

}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand {
    margin-left: 0;
    /* Menghilangkan margin kiri */
    padding-left: 0;
    /* Menghilangkan padding kiri */
}

.d-flex {
    padding-right: 50px;
}

.btn-daftar {
    background-color: #025589;
    color: white;
    border-radius: 0.5rem;
}

.awalan {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.library-container {
    background-color: #025589;
    color: white;
    padding: 20px;
    border-radius: 20px 0 0 20px;
    z-index: 2;
    /* Ensures it stays above swiper */
    position: relative;
    /* Makes z-index effective */
    display: flex;
    justify-content: center;
    /* Pusatkan secara horizontal */
    align-items: center
}

.library {
    text-align: center;
    /* Memastikan konten di dalam library juga terpusat */
}

.swiper-container-container {
    padding: 0 50px;
    /* This adds left and right padding to create space */
}

.swiper-container {
    overflow: hidden;
    padding: 0 20px;
    /* Padding to create the left and right margin */
}

.card {
    margin: 10px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.garis-vertical {
    margin: 20px;
    border-left: 5px solid #025589;
    height: 25px;
}

.garis-horizontal{

    border-left: 150px solid #025589;
    height: 5px;
}

.card-title {
    font-weight: bold;
}

.card-title-library {
    font-weight: bold;
    font-size: larger;
    padding-left: 10px;
}

.card-img-library {
    padding-left: 8%;
    padding-right: 8%;
}

.news-card {
    margin-bottom: 20px;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 10px;
    z-index: 5;
}

.carousel-control-prev {
    right: 50px;
}

.carousel-control-next {
    right: 10px;
}

.container-bg {
    background-image: url('../images/hospital.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px 0;
  }

  .nav-pills .nav-link-album {
    color: white;
    transition: all 0.3s ease;
    border-radius: 5px; /* Default border-radius */
    padding: 5px 10px; /* Default padding */
  }
  
  .nav-pills .nav-link-album.active {
    background-color: white;
    color: #025589;
  }
  
  .nav-pills .nav-link-album.active, 
  .nav-pills .nav-link-album:hover {
    background-color: white;
    color: #025589;
    border-radius: 25px; /* Larger border-radius on hover */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); /* More pronounced shadow */
    transform: scale(1.1); /* Slightly increase size on hover */
    padding: 5px 10px; /* Slightly increase padding on hover */
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery .photo {
    position: relative;
    flex: 1 0 21%; /* approximately 4 columns */
    margin: 5px;
    overflow: hidden;
  }
  .gallery img {
    width: 100%;
    height: auto;
  }
  .photo:hover .overlay-half {
    transform: translateY(0);
  }
  .photo:hover .overlay-full {
    transform: translateY(0);
  }
  .overlay-full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    z-index: 1;
  }
  .overlay-half {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    height: 50%;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column; /* Tambahkan ini untuk menampilkan elemen secara vertikal */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    z-index: 2;
}

.overlay-half h4, .overlay-half p {
    margin: 0; /* Pastikan margin 0 untuk menghindari jarak tambahan */
}

  .more-photos {
    display: none;
  }

  .deskripsi{
    padding-left: 200px;
    padding-right: 200px;
  }

  .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
  }

  .my-float {
    margin-top: 14px;
    font-size: 2em; 
  }

  .carousel-control-container {
    position: absolute;
    top: -50px;
    right: 10px;
    display: flex;
    gap: 10px;
    z-index: 2;
}



  
/* footer */
.logo-align {
    display: inline-block;
    margin-left: -185px;
    /* Sesuaikan nilai ini untuk memposisikan gambar lebih ke kiri */
}

.btn-floating {
    margin-top: 15px;
    /* Sesuaikan nilai ini jika diperlukan untuk menjaga keselarasan vertikal */
}

.penghargaan {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #025589;
    padding: 20px;
    width: 100%;
    max-width: 100%;
}

.item {
    text-align: center;
    background-color: #025589;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 30px 70px;
    font-size: 1rem;
    cursor: pointer;
}

.item:hover {
    background-color: #8AC441;
}

.item h2 {
    font-size: 3rem;
    margin-bottom: 5px;
}

.item p {
    font-size: 1rem;
}