:root {
    --primary-color: #025589;
    --white-color: #fff;
    --gray-color: #666666;
}
h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    font-style: normal;

}
h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}
h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}
h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
}
h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}
a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}
p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-outline-category {
    color: var(--primary-color);
    border-color:var(--primary-color); 
}

.btn-outline-category:hover{
    background-color: var(--primary-color);
    color: #fff;
}


.garis-vertical {
    margin-right: 20px;
    border-left: 1px solid grey;
    height: 25px;
    opacity: 50%;
}

.container-fluid-latar{
    background-color: #EBF1F3;
}

/* DETAIL MENU */
.product-image {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
}
.vertical-line {
    border-left: 1px solid #ddd;
    height: 100%;
}
.price {
    color: red;
    font-size: 1.5em;
    font-weight: bold;
}

/* Customization for Title */
.detail-title {
    background-color: var(--primary-color); /* Biru tua */
    border-radius: 8px 8px 0 0;
    color: white;
    text-align: center;
    padding: 10px;
    margin-left:-12px;
    margin-right: -12px;
  }

/* Button adjustments */
.btn-group .btn {
    width: 100px;
}

.d-grid button {
    width: 160px;
}

/* PRODUK Serupa */
.produk-title{
    background-color: var(--primary-color); /* Biru tua */
    border-radius: 8px 8px 0 0;
    color: white;
    padding: 10px;
    margin-left:0;
    margin-right: 0;
}
.card-title {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.card-price {
    font-size: 0.85rem;
    color: #007bff;
    margin-bottom: 5px;
}
.card-sold {
    font-size: 0.75rem;
    color: #6c757d;
}
.card-body-produk {
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}
#topProductsCarousel .carousel-control-prev {
    left: 20px; /* Mengatur posisi tombol lebih ke kiri */
}
#topProductsCarousel .carousel-control-next {
    right: 20px; /* Mengatur posisi tombol lebih ke kanan */
}
#topProductsCarousel .carousel-control-prev,
#topProductsCarousel .carousel-control-next {
    background-color: var(--primary-color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}


/* Position relative untuk memastikan overlay dan tombol diatur dengan benar */
.card-produk {
    position: relative;
    overflow: hidden;
}
