h1{
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
}

h2{
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
}

h3{
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
}

h4{
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: normal;
}

h5{
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
}

a{
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
}

p{
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
}

.btn-danger{
background-color: #dc0618;
border-radius: 15px;
padding-left: 15px;
padding-right: 15px;
}

.btn-primary{
    background-color: #025589;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    }

.btn-primary-disabled{
    background-color: #025589;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    }

.text-primary {
color: #025589 !important;
}

.bg-primary{
    background-color: #025589;
}

.text-success{
color:#8AC441 !important;
}

.navbar-top {
display: flex;
justify-content: flex-end;
background-color: #025589; /* Warna latar belakang navbar top */
color: white; /* Warna teks navbar top */
padding: 10px; /* Padding navbar top */
}

.navbar-top span {
margin-left: auto; /* Menempatkan teks di paling kanan */
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    flex-direction: row; /* Tetap horizontal pada layar besar */
}

.nav-link {
    display: inline-block; /* Membuat ukuran background mengikuti konten teks */
    padding: 0.5rem 1rem; /* Atur padding sesuai kebutuhan */
    width: auto; /* Lebar sesuai dengan konten teks */
    text-align: center; /* Teks berada di tengah */
}

.nav-link.active {
    background-color: #025589; /* Primary color */
    color: white !important;
    border-radius: 1rem;
    width: auto; /* Pastikan hanya mengikuti teks */
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-nav .nav-item {
    margin: 0 15px; /* Memberikan jarak antar item navigasi */
}

.navbar-brand img {
    height: 40px; /* Atur tinggi logo sesuai kebutuhan */
}

.container-fluid {
    display: flex;
    justify-content: space-between; /* Secara default, elemen berada di kedua sisi */
    align-items: center; /* Menyelaraskan elemen secara vertikal */
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand {
    margin: 0 auto;
}

.d-flex {
    padding-right: 50px;
}

.btn-daftar {
    background-color: #025589;
    color: white;
    border-radius: 0.5rem;
}

/* Tambahkan perbaikan untuk tampilan layar kecil */
@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: column; /* Elemen ditumpuk ke bawah */
        align-items: flex-start; /* Menyelaraskan elemen di tengah */
        margin: 0 auto;
    }

    .nav-item {
        margin: 5px 0; /* Jarak antar item navigasi */
    }

    .nav-link {
        width: auto; /* Background hanya mengikuti ukuran teks */
        padding-top: 3px;
    padding-bottom: 3px;
    }
    .btn-daftar {
        margin-left: 20px;
    }
    .container-fluid {
        justify-content: center; /* Memindahkan navbar-brand ke tengah */
        position: relative; /* Memastikan elemen lain tidak mengganggu */
    }

    .navbar-toggler {
        position: absolute; /* Agar toggle tetap terlihat */
        right: 10px; /* Pastikan toggle tetap di kanan */
        top: 50%; /* Selaraskan vertikal dengan navbar-brand */
        transform: translateY(-50%);
    }
}

.awalan{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.card-img-overlay{
    padding: 5%;
    /* background-color: #025589; */

}

.card-dokter {
    background-color: #f8f9fa;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.dokter-img {
    width: 10rem; /* Lebar tetap untuk gambar */
    height: 10rem; /* Tinggi tetap untuk gambar */
    object-fit: cover; /* Menyesuaikan gambar tanpa merubah rasio */
    border-radius: 50%; /* Membuat gambar menjadi lingkaran */
    margin: auto; /* Menyamakan margin di semua sisi */
    display: block; /* Memastikan gambar berada di tengah */
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px; /* Memberikan jarak kecil antara gambar dan teks */
}

.card-title {
    margin-bottom: 0.5rem; /* Jarak antara judul dan teks berikutnya */
}

.card-text {
    margin-bottom: 0.25rem; /* Jarak antara teks */
}

@media (max-width: 768px) {
    .card-text-desc {
        display: none;
    }
}

.form-container {
    max-width: 100%;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 35px;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.form-container h3 {
    color: #025589;
}

.form-container .btn-primary {
    background-color: #025589;
    border: none;
    width: 100%;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
  }

  .my-float {
    margin-top: 14px;
    font-size: 2em; 
  }

  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* untuk smooth scrolling di perangkat mobile */
  }
  
  table {
    width: 100%;
    table-layout: auto;
  }
  

/* footer */
.logo-align {
    display: inline-block;
    margin-left: -185px; /* Sesuaikan nilai ini untuk memposisikan gambar lebih ke kiri */
}

.btn-floating {
    margin-top: 15px; /* Sesuaikan nilai ini jika diperlukan untuk menjaga keselarasan vertikal */
}

.penghargaan {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #025589;
    padding: 20px;
    width: 100%;
    max-width: 100%;
  }

 .item {
    text-align: center;
    background-color: #025589;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 30px 70px;
    font-size: 1rem;
    cursor: pointer;
  }

 .item:hover {
    background-color:#8AC441 ;
  }

 .item h2 {
    font-size: 3rem;
    margin-bottom: 5px;
  }

 .item p {
    font-size: 1rem;
  }

    /* Aturan responsif untuk layar kecil */
@media (max-width: 576px) {
    .logo-align {
        display: block;
        margin-left: -90px;
        text-align: center;
    }
    .footer .col-lg-4 {
        text-align: center; /* Konten lainnya juga di tengah */
    }
    .btn-floating {
        display: inline-block;
        margin: 0 5px; /* Jarak antar tombol */
    }
  }