<%- include('../partials/__head.ejs') %>
<body>
<div class="container-scroller d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <!-- partial:partials/_navbar.html -->
    <!-- partial -->
    <div class="main-panel w-100">
        <div class="content-wrapper d-flex align-items-center justify-content-center">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h4 class="card-title">Input Data Jadwal</h4>
                        <p class="card-description">
                            Basic form layout
                        </p>
                        <form action="/jadwal/store" method="POST" class="forms-sample">
                            <div class="form-group">
                                <label for="exampleFormControlSelect2">Nama Dokter</label>
                                <select class="form-control" id="exampleFormControlSelect2" name="id_dokter" required>
                                    <option selected>Pilih Dokter</option>
                                    <% for(var i=0; i < data.length; i++){ %>
                                        <option value="<%= data[i].id_dokter %>"><%= data[i].nama_dokter %></option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="senin">Senin</label>
                                <input type="text" class="form-control" id="senin" name="senin" placeholder="Senin">
                            </div>
                            <div class="form-group">
                                <label for="selasa">Selasa</label>
                                <input type="text" class="form-control" id="selasa" name="selasa" placeholder="Selasa">
                            </div>
                            <div class="form-group">
                                <label for="rabu">Rabu</label>
                                <input type="text" class="form-control" id="rabu" name="rabu" placeholder="Rabu">
                            </div>
                            <div class="form-group">
                                <label for="kamis">Kamis</label>
                                <input type="text" class="form-control" id="kamis" name="kamis" placeholder="Kamis">
                            </div>
                            <div class="form-group">
                                <label for="jumat">Jumat</label>
                                <input type="text" class="form-control" id="jumat" name="jumat" placeholder="Jumat">
                            </div>
                            <div class="form-group">
                                <label for="sabtu">Sabtu</label>
                                <input type="text" class="form-control" id="sabtu" name="sabtu" placeholder="Sabtu">
                            </div>
                            <div class="form-group">
                                <label for="minggu">Minggu</label>
                                <input type="text" class="form-control" id="minggu" name="minggu" placeholder="Minggu">
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Simpan</button>
                            <button type="button" class="btn btn-light" onclick="history.back()">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
<!-- container-scroller ends -->
<%- include('../partials/__foot.ejs') %>
</body>
